:root {
  /*buttons*/
  --btn-inside-before: rgb(0, 0, 0);
  --btn-inside-after: rgb(75, 75, 75);
  --btn-border-radius-menu: 15px;
  --btn-border-radius-difficulty: 15px;
  --btn-border-radius-paused: 15px;
  --btn-border-radius-factor: 1.5;
  /*text*/
  --font-size-menu: 4vh;
  --font-size-difficulty: 3vh;
  --transition-size-factor: 1.2;
  /*containers*/
  --cont-size: 90%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(20, 20, 20);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(100, 100, 100) rgb(25, 25, 25);
  scrollbar-gutter: 2;
}

#canvas {
  display: block;
  background-color: white;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#menu-container {
  position: relative;
  display: flex; /*flex*/
  top: calc((100% - var(--cont-size))/2);
  left: calc((100% - var(--cont-size))/2);
  width: var(--cont-size);
  height: var(--cont-size);
  background-color: darkslateblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 15px solid black;
  border-radius: 15px;
}

#game-container {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
}

.editor-panel {
  width: 30%;
  height: 100%;
  background-color: darkgoldenrod;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

#level-editor-container {
  position: relative;
  display: none; /*flex*/
  top: calc((100% - var(--cont-size))/2);
  left: calc((100% - var(--cont-size))/2);
  width: var(--cont-size);
  height: var(--cont-size);
  background-color: sandybrown;
  flex-direction: row;
  /*justify-content: center;*/
  align-items: center;
  border: 15px solid black;
  border-radius: 15px;
  overflow-y: auto;    /* vertical scrollbar appears when needed */
  overflow-x: hidden;  /* prevents horizontal scroll */
}

@keyframes level-editor-btn-animation {
  from {
    width: 50%;
    height: 5%;
    font-size: 1vh;
  }
  to {
    width: 80%;
    height: 12.5%;
    font-size: 3vh;
  }
}

.level-editor-btn {
  position: relative;
  display: flex;
  width: 80%;
  height: 12.5%;
  margin: 1%;
  background-color: var(--btn-inside-before);
  color: white;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  border-radius: 15px;
  transition: all 0.3s ease;
  animation-name: level-editor-btn-animation;
  animation-duration: 1s;
}

.level-editor-text {
  font-size: 2vh;
  color: white;
  display: flex;
}

.level-editor-btn:hover {
  background-color: var(--btn-inside-after);
  cursor: pointer;
  width: 90%;
  height: 15%;
  font-size: calc(3vh * var(--transition-size-factor));
  border-radius: calc(15px * var(--btn-border-radius-factor));
}

@keyframes level-editor-canvas-animation{
  from {
    background-color: black;
  }
  to {
    background-color: lightgray;
  }
}

#level-editor-canvas {
  position: relative;
  display: flex;
  background-color: lightgray;
  animation-name: level-editor-canvas-animation;
  animation-duration: 1s;
}

.entity-canvas {
  position: relative;
  display: flex;
  background-color: black;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: 5px;
}

.entity-canvas:hover {
  cursor: pointer;
}

.entity-drag-preview {
  position: absolute;
  pointer-events: none;  /* prevents capturing clicks */
  z-index: 1000;
  width: 72px;           /* display size */
  aspect-ratio: 1 / 1;
}


#level-selector-container {
  position: relative;
  display: none; /*flex*/
  top: calc((100% - var(--cont-size))/2);
  left: calc((100% - var(--cont-size))/2);
  width: var(--cont-size);
  height: var(--cont-size);
  background-color: darkslateblue;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  border: 15px solid black;
  border-radius: 15px;
  overflow-y: auto;    /* vertical scrollbar appears when needed */
  overflow-x: hidden;  /* prevents horizontal scroll */
}

@keyframes level-selector-btn-animation {
  from {
    width: 30%;
    height: 5%;
  }
  to {
    width: 50%;
    height: 12.5%;
  }
}

.level-selector-btn {
  position: relative;
  display: flex;
  width: 50%;
  height: 12.5%;
  margin: 1%;
  background-color: var(--btn-inside-before);;
  color: white;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
  border: 8px solid darkorange;
  border-radius: 15px;
  transition: all 0.3s ease;
  animation-name: level-selector-btn-animation;
  animation-duration: 1s;
}

.level-selector-btn:hover {
  background-color: var(--btn-inside-after);
  cursor: pointer;
  width: 60%;
  height: 15%;
  font-size: calc(3vh * var(--transition-size-factor));
  border-radius: calc(15px * var(--btn-border-radius-factor));
}

@keyframes level-selector-text-animation{
  from {
    font-size: 1vh;
  }
  to {
    font-size: 2vh;
  }
}

.level-selector-text {
  color: white;
  font-size: 2vh;
  animation-name: level-selector-text-animation;
  animation-duration: 1s;
}

@keyframes menu-text-animation {
  from {
    color: transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  to {
    color: yellow;
    text-shadow: 1px 1px 3px red;
  }
}

.menu-text {
  font-size: 3vh;
  color: yellow;
  text-shadow: 1px 1px 3px red;
  animation-name: menu-text-animation;
  animation-duration: 1s;
}

@keyframes menu-big-text-animation{
  from {
    font-size: 3vh;
    text-shadow: -10px -10px 20px white;
  }
  to {
    font-size: 6vh;
    text-shadow: 3px 3px 6px black;
  }
}

.menu-big-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6vh;
  color: white;
  text-shadow: 3px 3px 6px black;
  animation-name: menu-big-text-animation;
  animation-duration: 1s;
}

@keyframes menu-btn-animation {
  from {
    top: 5%;
    width: 60%;
    height: 7%;
  }
  to {
    top: 0;
    width: 85%;
    height: 12.5%;
  }
}

.menu-btn {
  position: relative;
  display: flex;
  width: 85%;
  height: 12.5%;
  margin: 1%;
  background-color: var(--btn-inside-before);
  color: white;
  font-size: var(--font-size-menu);
  justify-content: center;
  align-items: center;
  border: 15px solid LightSkyBlue;
  border-radius: var(--btn-border-radius-menu);
  transition: all 0.3s ease;
  animation-name: menu-btn-animation;
  animation-duration: 1500ms;
}

.menu-btn:hover {
  background-color: var(--btn-inside-after);
  width: 90%;
  height: 15%;
  border: 15px solid lightcyan;
  border-radius: calc(var(--btn-border-radius-menu)*var(--btn-border-radius-factor));
  font-size: calc(var(--font-size-menu)*var(--transition-size-factor));
  color: yellow;
  cursor: pointer;
}

#difficulty-container {
  position: relative;
  display: none; /*flex*/
  top: calc((100% - var(--cont-size))/2);
  left: calc((100% - var(--cont-size))/2);
  width: var(--cont-size);
  height: var(--cont-size);
  background-color: darkslateblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 15px solid black;
  border-radius: 15px;
}

@keyframes difficulty-btn-animation {
  from {
    width: 40%;
    height: 10%;
  }
  to {
    width: 50%;
    height: 12.5%;
  }
}

.difficulty-btn {
  position: relative;
  display: flex;
  width: 50%;
  height: 12.5%;
  margin: 1%;
  background-color: var(--btn-inside-before);
  color: white;
  font-size: var(--font-size-difficulty);
  justify-content: center;
  align-items: center;
  border: 8px solid darkorange;
  border-radius: var(--btn-border-radius-difficulty);
  transition: all 0.5s ease;
  animation-name: difficulty-btn-animation;
  animation-duration: 1s;
}

.difficulty-btn:hover {
  background-color: var(--btn-inside-after);
  cursor: pointer;
  border-radius: calc(var(--btn-border-radius-difficulty)*var(--btn-border-radius-factor));
  font-size: calc(var(--font-size-difficulty)*var(--transition-size-factor));
  width: 55%;
  height: 15%;
}

@keyframes difficulty-text-animation{
  from {
    font-size: 3vh;
  }
  to {
    font-size: 6vh;
  }
}

.difficulty-text {
  font-size: 6vh;
  color: whitesmoke;
  animation-name: difficulty-text-animation;
  animation-duration: 750ms;
}

#game-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  pointer-events: none;
  z-index: 100;
}

#timer, #level-display {
  position: relative;
  display: flex;
  width: 20vh;
  height: 6vh;
  padding: 10px 20px;
  background-color: rgba(100, 100, 0, 0.4);
  color: white;
  font-size: 5vh;
  z-index: 10;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  pointer-events: auto;
}

#timer:hover {
  background-color: rgba(100, 100, 0, 0.2);
  cursor: default;
}

#level-display:hover {
  background-color: rgba(0, 100, 100, 0.2);
  cursor: default;
}

#pause-btn {
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 3vh;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  width: 6vh;
  height: 6vh;
  margin: 20px;
}

#pause-btn:hover {
  background-color: lightgray;
  cursor: pointer;
}

#paused-cont {
  position: fixed;
  display: none; /*flex*/
  width: 100%;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  background-color: transparent;
}

@keyframes paused-btn-animation {
  from {
    width: 30%;
    height: 5%;
  }
  to {
    width: 50%;
    height: 12.5%;
  }
}

.paused-btn {
  position: relative;
  display: flex;
  width: 50%;
  height: 12.5%;
  margin: 1%;
  background-color: var(--btn-inside-before);
  color: white;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
  border: 8px solid darkorange;
  border-radius: var(--btn-border-radius-paused);
  transition: all 0.3s ease;
  animation-name: paused-btn-animation;
  animation-duration: 1s;
}

.paused-btn:hover {
  background-color: var(--btn-inside-after);
  width: 60%;
  height: 15%;
  font-size: calc(3vh * var(--transition-size-factor));
  border-radius: calc(var(--btn-border-radius-paused)*var(--btn-border-radius-factor));
  cursor: pointer;
}

#dimmer {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
}