body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: gray;
}

#canvas {
  display: block;
  background-color: white;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#menu-container {
  position: relative;
  display: flex; /*flex*/
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 15px solid black;
  border-radius: 15px;
}

#game-container {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
}

#level-editor-container {
  position: relative;
  display: none; /*flex*/
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: white;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  border: 15px solid black;
  border-radius: 15px;
  overflow-y: auto;    /* vertical scrollbar appears when needed */
  overflow-x: hidden;  /* prevents horizontal scroll */
}

.level-editor-btn {
  position: relative;
  display: flex;
  width: 50%;
  height: 12.5%;
  margin: 1%;
  background-color: black;
  color: white;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
  border: 8px solid darkorange;
  border-radius: 15px;
}

.level-editor-text {
  font-size: 2vh;
}

.level-editor-btn:hover {
  background-color: darkgray;
  cursor: pointer;
}

#level-editor-canvas {
  display: block;
  background-color: lightgray;
}

#level-selector-container {
  position: relative;
  display: none; /*flex*/
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: white;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  border: 15px solid black;
  border-radius: 15px;
  overflow-y: auto;    /* vertical scrollbar appears when needed */
  overflow-x: hidden;  /* prevents horizontal scroll */
}

.level-selector-btn {
  position: relative;
  display: flex;
  width: 50%;
  height: 12.5%;
  margin: 1%;
  background-color: black;
  color: white;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
  border: 8px solid darkorange;
  border-radius: 15px;
}

.level-selector-text {
  font-size: 2vh;
}

.level-selector-btn:hover {
  background-color: darkgray;
  cursor: pointer;
}

.menu-text {
  font-size: 3vh;
}

.menu-btn {
  position: relative;
  display: flex;
  width: 85%;
  height: 12.5%;
  margin: 1%;
  background-color: black;
  color: white;
  font-size: 4vh;
  justify-content: center;
  align-items: center;
  border: 15px solid lime;
  border-radius: 15px;
}

.menu-btn:hover {
  background-color: darkgray;
  cursor: pointer;
}

#timer {
  position: absolute;
  top: 2vh;
  left: 2vw;
  width: 15%;
  height: 5%;
  padding: 10px 20px;
  background-color: rgba(100, 100, 0, 0.4);
  color: white;
  font-size: 5vh;
  z-index: 10;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timer:hover {
  background-color: rgba(100, 100, 0, 0.2);
  cursor: default;
}